body {
    font-family: monospace;
    background: linear-gradient(0deg, #b700ff 0.03%, #c10080 100%);
    color: #000000;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 1000vh;
}

.right-column {
    flex: 4;
    /* Take up remaining space in the row */
    margin-left: 30px;
    /* Adjust the margin as needed */
}

.quiz-container {
    display: flex;
    justify-content: space-between;
    /* Separate into two columns */
    align-items: flex-start;
    /* Align items to the top */
    width: 80rem;
    background: #ffffff;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px 60px;
    box-sizing: border-box;

    .active-question-no {
        font-size: 32px;
        font-weight: 500;
        color: #b700ff;
    }

    .question-container {
        flex: 1;
        /* Styles for the left column */
    }

    .total-question {
        font-size: 16px;
        font-weight: 500;
        color: #68626b;
    }

    .mcqs-question {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }

    .mcqs-container {
        margin-top: 20px;
        margin-left: -40px;

        .selected-answer {
            background: #b700ff;
            border: 1px solid #c10080;
            color: #ffffff;
        }
    }

    .mcqs-container li {
        text-decoration: none;
        list-style: none;
        color: #2a0072;
        font-size: 16px;
        background: #ffffff;
        border: 1px solid #68626b;
        border-radius: 16px;
        padding: 11px;
        margin-top: 15px;
        cursor: pointer;

    }

    .next-finish-btn {
        display: flex;
        justify-content: flex-end;
    }

    .next-finish-btn button {
        background: linear-gradient(0deg, #b700ff 0.03%, #c10080);
        border-radius: 9px;
        font-size: 18px;
        color: #ffffff;
        padding: 10px 42px;
        outline: none;
        border: none;
        margin-top: 15px;
        cursor: pointer;

        &:disabled {
            background: #bcb2b2;
            color: #5c5c5c;
            cursor: not-allowed;
        }
    }

    .result {

        text-align: center;

        h3 {
            font-size: 24px;
            letter-spacing: 1.4px;
            text-align: center;
        }

        p {
            font-size: 16px;
            font-weight: 500;

            span {
                color: #2a0072;
                font-size: 22px;
            }
        }
    }
}